html,body {
	margin: 0;
	background-color: #9A9A9C;
}
.game {
	position: relative;
	margin: 0 auto;
	width: 640px;
	height: 480px;
	background-color: white;
}

canvas {
	background-color: #001D2E;
}

.note {
	position: absolute;
	display: inline-block;
	left: 20px;
	bottom: 20px;
	/*color: white;*/
	font-size: 14px;
	color: rgba(255,255,255,0.6);
}
.note div {
	line-height: 25px;
}
.title {
	position: absolute;
	display: inline-block;
	color: white;
	font-size: 20px;
	left: 265px;
	top: 230px;	
}
.start {
	position: absolute;
	display: inline-block;
	color: rgba(255,255,255,0.6);
	top: 265px;
	left: 285px;
	background-color: rgba(255,255,255,0);
	border-radius: 12px;
	border: 1px solid white;
	line-height: 24px;
}
.start:focus {
		outline: none;
}
.start:hover {
		cursor: pointer;
}
.logo {
	position: absolute;
	display: inline-block;
	color: white;
	left: 310px;
	top: 142px;	
	font-size: 90px;
}